<urpg-web-calc-welcome *ngIf="state == 'WELCOME'"
  (startBattle)="startBattle($event)"
  (loadBattle)="loadBattle($event)"
  (testBattle)="testBattle($event)">
</urpg-web-calc-welcome>

<urpg-web-calc-load-battle *ngIf="state == 'LOADBATTLE'"></urpg-web-calc-load-battle>

<urpg-web-calc-load-rules *ngIf="state == 'LOADRULES'"
  [battle]="battle"
  (loadedRules)="loadedRules($event);">
</urpg-web-calc-load-rules>

<urpg-web-calc-load-pokemon *ngIf="state == 'LOADPOKEMON'"
  [battle]="battle"
  (loadedPokemon)="loadedPokemon($event)">
</urpg-web-calc-load-pokemon>

<urpg-web-calc-battle *ngIf="state == 'BATTLE'"
  [battle]="battle"
></urpg-web-calc-battle>