<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to the URPG Web Calculator!</h1>
            <h3>Choose an option to continue:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                (click)="onStartBattle();">
                Start a battle
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                (click)="onLoadBattle();">
                Load a battle
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                (click)="onTestBattle();">
                Test calculations
            </button>
        </div>
    </div>
</div>